/* TYPOGRAPHY */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.button{
    text-decoration: none;
}
.font-white{
    color: white;
}
.nav-layout{
    list-style: none;
}
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}