*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.page-container{
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
}

header{
    height: 90px;
    position: fixed;
    left: 180px;
    top: 0;
    width: calc(100% - 180px);
    background-color: rgba(1, 1, 1, 0.4);
}
aside{
    width: 230px;  
    background-color: black;
    padding: 20px;
}
main{
    width:  calc(100% - 180px);
    background-color: #141922;
    overflow-y: auto;
    padding-top: 100px;
}

footer{
    height: 100px;
    background-color: #282828;
}

