@import url(reset.css);
@import url(debug.css);
@import url(common.css);
@import url(aside.css);

/* HEADER */
.h-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 5px;
}
.link-upgrade{
    border: 1px white solid;
    padding: 1.3% 3%;
    border-radius: 50px;
    font-size: .8125rem;
}

/* FOOTER */
.footer-container{
    justify-content: space-between;
}
.song-img-footer img{
    width: 60px;
}
.song-info{
    margin-left: 15px;
}
.song-info h1{
    font-size: 15px;
}
.song-info h2{
    font-size: 13px;
    color: grey;
}
.left-footer{
    align-items: center;
    padding-right: 40px;
}
.song-symbol{
    margin-left: 30px;
    color: grey;
}
.song-symbol button{
    font-size: 19px;
    margin-left: 15px;
}

/* middle */
.middle-footer{
    align-items: center;
}
.music-buttons{
    color: white;
}
.music-buttons button{
    font-size: 20px;
    width: max-content;
}
.music-buttons button{
    margin-left: 20px;
}
.music-buttons button:nth-child(3){
    margin-right:10px;
    margin-left: 30px;
    font-size: 35px;
}
.minute {
    font-size: 12px;
}
.lower-div{
    margin-top: 10px;
    align-items: center;
}
.music-bar{
    background-color: grey;
    width: 500px;
    height: 4px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
/* right */
.right-footer{
    align-items: center;
    padding-left:40px;
}
.sound-bar{
    background-color: grey;
    width: 130px;
    height: 4px;
    border-radius: 50px;
    margin-left: 8px;
}
.right-footer li{
    margin-left: 20px;
    font-size: 14px;
}







/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .hide{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    aside{
        width: max-content;
        padding:10px;
    }
    main, header{
        width: calc(100% - 50px);
    }
   header{
    left:50px
   }
   .logo-responsive img{
    width: 35px;
   }
   .user-download-resp{
    padding-top: 410px;
   }
}

@media screen and (max-width: 1100px){
    .song-symbol{
        flex-direction: column;
    }
}